# List


*   List is commonly used in data type.it is mutable.
*   It is used for collecting purpose.

*   It is defined using square brackets [] and elements are seperated by commons.

In [12]:
numbers=["1","2","3","4","5"]
print( type(numbers))

<class 'list'>

In [11]:
My_list= []
Names = ["Apple","cherry","grapes"]
print (type(Names))

<class 'list'>

In [15]:
boolean =["true","flase","true","flase"]
print(type(boolean))

<class 'list'>

In [23]:
complex_number=["3+5j","3+5j","2+6j"]
print(type(complex_number))

<class 'list'>

In [1]:
mixed_type=["1","23.7","true","3=5j"]
print(type(mixed_type))

<class 'list'>

In [26]:
decimal=["23.4","34.7"]
print(type(decimal))

<class 'list'>

In [2]:
mixed_number=["2","5","7"]
print(type(mixed_number))

<class 'list'>

In [3]:
mixed_decimal=["23.5","3.0","6"]
print(type(mixed_decimal))

<class 'list'>

In [4]:
mixed_number=["8","89.0","manisha"]
print(type(mixed_number))

<class 'list'>

# Access list Element

*   There are classified into two types.Those are:


1.   Positive index - it start from 0,1 to infinity.
2.   Negative index - it start from -1 ,-2 to - infinity.

In [10]:
my_list=["apple","grapes","banana","1","2","4","5","45.6","12.7","true","flase","3+5j","8+7k"]
print(my_list[0:5])
print(my_list[:8])
print(my_list[5:10])
print(my_list[11:12])
print(my_list[1:])
print(my_list[3:12])
print(my_list[6:12])
print(my_list[0:8])
print(my_list[1:3])

['apple', 'grapes', 'banana', '1', '2']
['apple', 'grapes', 'banana', '1', '2', '4', '5', '45.6']
['4', '5', '45.6', '12.7', 'true']
['3+5j']
['grapes', 'banana', '1', '2', '4', '5', '45.6', '12.7', 'true', 'flase', '3+5j', '8+7k']
['1', '2', '4', '5', '45.6', '12.7', 'true', 'flase', '3+5j']
['5', '45.6', '12.7', 'true', 'flase', '3+5j']
['apple', 'grapes', 'banana', '1', '2', '4', '5', '45.6']
['grapes', 'banana']

In [20]:
my_list=["python","java","c++","c","php","cherry","manasa","3","2"]
print(my_list[-1])
print(my_list[-5])
print(my_list[-3])
print(my_list[-6])
print(my_list[-9])
print(my_list[-2])
print(my_list[3])
print(my_list[-4])
print(my_list[-1:-3])
print(my_list[-2:7])

2
php
manasa
c
python
3
c
cherry
[]
[]

# Slicing of lists

In [26]:
a=["1","2","3","4","5","6","7","8","9","0","manu","cherry","mirzu"]
print(a[0:6])
print(a[:10])
print(a[5:10])
print(a[2:])
print(a[0:6])
print(a[2:3])
print(a[1:5])
print(a[4:7])
print(a[3:8])
print(a[10:13])

['1', '2', '3', '4', '5', '6']
['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
['6', '7', '8', '9', '0']
['3', '4', '5', '6', '7', '8', '9', '0', 'manu', 'cherry', 'mirzu']
['1', '2', '3', '4', '5', '6']
['3']
['2', '3', '4', '5']
['5', '6', '7']
['4', '5', '6', '7', '8']
['manu', 'cherry', 'mirzu']

# List operation

*   List operation are two types.those are:


1.   concalention
2.   repetition

In [31]:
A=['1', '2', '3', '4', '5', '6'
'1', '2', '3', '4', '5', '6', '7', '8', '9', '0'
'6', '7', '8', '9', '0'
'3', '4', '5', '6', '7', '8', '9', '0', 'manu', 'cherry', 'mirzu']
B=['1', '2', '3', '4', '5', '6'
'3'
'2', '3', '4', '5']
print(A+B)

['1', '2', '3', '4', '5', '61', '2', '3', '4', '5', '6', '7', '8', '9', '06', '7', '8', '9', '03', '4', '5', '6', '7', '8', '9', '0', 'manu', 'cherry', 'mirzu', '1', '2', '3', '4', '5', '632', '3', '4', '5']

In [32]:
A=[1,3,4]
b=[2,3,4]
c=A+b
print(c)

[1, 3, 4, 2, 3, 4]

In [36]:
z=[100,500,1000]
v=[1,2,9]
print(z+v)

[100, 500, 1000, 1, 2, 9]

In [40]:
A=['1', '2']
B=['1', '2', '3', '4', '5', '6']
print(A+B)

['1', '2', '1', '2', '3', '4', '5', '6']

In [45]:
a=[1,2.3]
b=["hello world"]
print(a+b)

[1, 2.3, 'hello world']

In [41]:
a=[4,5,6,7]
b=a*7
print(b)

[4, 5, 6, 7, 4, 5, 6, 7, 4, 5, 6, 7, 4, 5, 6, 7, 4, 5, 6, 7, 4, 5, 6, 7, 4, 5, 6, 7]

In [42]:
a=["hellow world"]
b=a*6
print(b)

['hellow world', 'hellow world', 'hellow world', 'hellow world', 'hellow world', 'hellow world']

In [46]:
v=["welcome to hyderbad"]
n=v*10
print(n)

['welcome to hyderbad', 'welcome to hyderbad', 'welcome to hyderbad', 'welcome to hyderbad', 'welcome to hyderbad', 'welcome to hyderbad', 'welcome to hyderbad', 'welcome to hyderbad', 'welcome to hyderbad', 'welcome to hyderbad']

In [47]:
a=[8,7,6]
b=[7,5,7]
print(a+b)

[8, 7, 6, 7, 5, 7]

In [50]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]