# Python Variable

*   python variables are the reserved memory locations used to store values with in a python.
*   variables are containers for storing data values.
*   This means that when you crete a variable

In [ ]:
#creating a variable
a=10
print(a)

10

In [ ]:
#creating a variable
b=20
color='black'
print(b)
print(color)

20
black

# Rules To Create a Variables

*   A Variable name can only contains alph_numeric characters and underscore(A-Z,a-z,0-9, and -).
*   A Variable name cannot start with a number or any special characters like $,/,*,% etc.

*   Python reserved keywords cannot be used naming the variable.
*   Python variable names are case-sensitive which means Name and NAME are two different variables in python.

*   Variable name can't start with digits.

*   Keywords like if or the Boolean True are reserved and cannot be used as variables names.

#valid variables





1.   isActive
2.   maxValue

1.   minValue
2.  score

1.   averageTemperature
2.   userAge

1.   productID
2.   currentSpeed

1.   userName
2.   totalAmount

1.   itemcount

1.   fileName
2.   addressLine1

1.   emailAddress
2.   numberofItems

1.   lastLoginDate

1.   totalCost
2.   discountRate

1.   paymentStatus
2.   xCoordinate

In [1]:
#valid variables
var=12
print(var)

12

In [2]:
var_2=23
print(var_2)

23

In [3]:
_var1="hello"
print(_var1)

hello

In [4]:
var_var2=5
print(var_var2)

5

In [5]:
deff=5
print(deff)

5

#invalid varibles

1.   1stplace(starts with a number)
2.   user_name(contains a space)

1.   total amount(contains a hyphen)
2.   if(reserved keyword)

1.   while(reserved keyword)
2.   class(reserved keyword)

1.   for(reserved keyword)
2.   @username(contains special character)

1.   user#name(contains special character)
2.   totalAmount$(contains special character)

1.   123total(starts with a number)
2.   -discount(starts with a number)

1.   endDate!(contains special character)
2.   user name(contains a space)

1.   file.name(contains a dot)
2.   retun(reseved keyword)

1.   static(reserved keyword)
2.   function(reserved keyword)

1.   var(reserved keyword)
2.   123abc(starts with a number)

In [6]:
#invalid variables
1_var=123
print(1_var)

SyntaxError: invalid decimal literal (<ipython-input-6-88982578a9c1>, line 2)

In [7]:
@var="data"
print(@var)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-7-e883ea70e6de>, line 1)

In [8]:
for='python'
print(for)

SyntaxError: invalid syntax (<ipython-input-8-29aa06b0ab33>, line 1)

In [9]:
1 var=123
print(1 var)

SyntaxError: invalid syntax (<ipython-input-9-4a0767492a61>, line 1)