# Python String:

*   In python,a string is sequence of characters.
*   we use single quotes or double qoutes to respresent a string in python.

*   String are one of the most commonly used data types, and they are used to represent text.
*   However, you can perform various operations and used methods to manipulate and work with string.

In [ ]:
str1="hello"
print(type(str1))

<class 'str'>

In [ ]:
a='1,2,3,4'
print(type(a))

<class 'str'>

In [ ]:
str2="""" my name is manisha"""
print(type(str2))

<class 'str'>

In [ ]:
str3="hello world'
print(type(str3))

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-5-61d235f09ce2>, line 1)

In [ ]:
A="hello,1,2,"
print(type(A))

<class 'str'>

In [ ]:
x="hello""1""2"
print(type(x))

<class 'str'>

# String operations:

1.   Concatenation:
combining of two or more string.

In [ ]:
str1="hello"
a='1,2,3,4'
str2=""" my name is manisha"""
A="hello""1""2"
x="hello,1,2,"
str3=str1+a+str2+A+x
print(str3)

hello1,2,3,4 my name is manishahello12hello,1,2,

In [ ]:
str3=str1+" "+a+" "+str2+" "+A+" "+x
print(str3)

hello 1,2,3,4  my name is manisha hello12 hello,1,2,



2.   Repetition: repeating a string into multiple times.

In [ ]:
str1="hello"
a='1,2,3,4'
str2=""" my name is manisha"""
A="hello""1""2"
x="hello,1,2,"
str3=(str1+a+str2+A+x) *3
print(str3)

hello1,2,3,4 my name is manishahello12hello,1,2,hello1,2,3,4 my name is manishahello12hello,1,2,hello1,2,3,4 my name is manishahello12hello,1,2,

In [ ]:
str1="hello"
a='1,2,3,4'
str2=""" my name is manisha"""
A="hello""1""2"
x="hello,1,2,"
str3=(str1+a+str2+A+x) *3
print(str3)

hello1,2,3,4 my name is manishahello12hello,1,2,hello1,2,3,4 my name is manishahello12hello,1,2,hello1,2,3,4 my name is manishahello12hello,1,2,



3.   Indexing:Accessing individual characters in a string.

In [ ]:
a="corporate social responsibility can generate a positive reputation for a company leading to possibly more sales and growth in a stringAccessing individusl characters.watson provides evidence that this improves consumer sales as customer tend to support ethical green business practice thus improve profitability and encouring growth for example a yought company. a pragraph is a basic unit of organization in writing in which a group of sentence develops one main idea the number of sentence a paragraph contains is not importany it can be as short as one sentence as long as nine sentences,the most important thing is that the idea started at the begining is clearly developed."
print(a[21])
print(a[47])
print(a[405])
print(a[129])
print(a[201])
print(a[249])
print(a[311])
print(a[395])
print(a[418])
print(a[409])

o
p

t
i
o

g
n
w



4.   slicing: Extracting a substring from a string.

In [ ]:
my_string="Hello,world! python is easy to understand."
print(my_string[1:6])
print(my_string[2:4])
print(my_string[4:9])
print(my_string[3:7])
print(my_string[2:8])

ello,
ll
o,wor
lo,w
llo,wo

# python- format-string:




1.   old style formating(% operation):
use the % operator and placeholder.

In [ ]:
name="sai reddy"
age=21
formatted_string=("my name is %d and i am %s year old.")%(age,name)
print(formatted_string)

my name is 21 and i am sai reddy year old.

In [ ]:
name="sai reddy"
age=21
a=("my name is %s and i am %d year old.")%(name,age)
print(a)

my name is sai reddy and i am 21 year old.


2.   Format Method:uses the format () method with placeholder.

In [ ]:
name="manisha"
age=21
Formatted_string="my name is {} and i am {} years old.".format(age, name)
print(Formatted_string)

my name is 21 and i am manisha years old.



3.   string Interpolation (f_string )
uses f-string,where expression inside curly braces{} are evulated and replaced.

In [ ]:
name="vijay"
age=23
location="hyd"
a="my name is {name} and i am {age} years old i am living in {location}.".format(name="vijay",age="23",location="hyd")
print(a)

my name is vijay and i am 23 years old i am living in hyd.

# string methods

1.   len()
the len() function is used to return an integer value which indicates the number of items in an object.

In [ ]:
a="hello world"
len=10
print(len)

10



2.  lower:it converts captial letters into small letters.

In [2]:
a="PYTHON language"
print(a.lower())

python language

In [3]:
a="1,2,3,4"
print(a.lower())

1,2,3,4





*   Upper :it convert small letters into capital letters.

In [4]:
a="python language"
print(a.upper())

PYTHON LANGUAGE



*   Endswith: we check weather the condition is present or not.if present the output is true.

In [10]:
a="python language is good"
print(a.endswith("good"))

True

In [12]:
a="python language is good"
print(a.endswith("de"))

False



*   Startswith: we check the condition is present in start or not.

In [13]:
a="python language is good"
print(a.startswith("p"))

True

In [14]:
a="python language is good"
print(a.startswith("python"))

True



*   Replace:it is used to replace the element.

In [15]:
a="python language is good"
print(a.replace("good","bad"))

python language is bad

In [16]:
a="python language is good"
print(a.replace("language","programming"))

python programming is good



*   Find: in that the element is not present  it gives the output as -1,if present it shows the output rage valueor count value.

In [21]:
a="python language is good"
print(a.find("language"))

7

In [22]:
a="python language is good"
print(a.find("bad"))

-1



*   Index : in index the element is present is shows the output ,if it is not present it shows error.

In [23]:
a="python language is good"
print(a.index("good"))

19

In [24]:
a="python language is good"
print(a.index("bad"))

ValueError: substring not found



*   
Count: in that we count the particular character how many times repeat.

In [25]:
a="python language is good"
print(a.count("g"))

3



*   Remove prefix: it is used to remove the front part.
*   Remove suffix: it is used to remove the back part.

In [26]:
a="python language is good"
print(a.removeprefix("python"))

 language is good

In [27]:
a="python language is good"
print(a.removesuffix("good"))

python language is



*  Split :it is used to convert the data into list.

In [29]:
a="python language is good"
print(a.split())

['python', 'language', 'is', 'good']



*   Strip:it is used to remove the space in starting and ending.
*   L strip :it is used to remove the space in front space.

*   R strip:it is used to remove the space in back space.

In [30]:
a="    python language is good    "
print(a.strip())

python language is good

In [32]:
a="python language is good  "
print(a.rstrip())

python language is good

In [33]:
a="    python language is good"
print(a.lstrip())

python language is good